[access]
	inheritFrom = All-Projects
[project]
	description = aaa
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-aaa-committers
	read = group Anonymous Users
	read = group Registered Users
	forgeAuthor = group ldap/gerrit-aaa-committers
[access "refs/for/refs/*"]
	push = group Registered Users
