[access]
	inheritFrom = All-Projects
[project]
	description = Authentication, Authorization, Accounting
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-aaa-committers
	read = group GitHub Replication
[allowSuperproject "docs"]
	matching = refs/heads/stable/boron:refs/heads/stable/boron
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/boron:refs/heads/stable/boron
