<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <!--
    OPNFV Moon Project related endpoints
    -->
    <servlet>
        <servlet-name>MOON</servlet-name>
        <servlet-class>org.opendaylight.aaa.shiro.moon.MoonTokenEndpoint</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>MOON</servlet-name>
        <url-pattern>/moon/token</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MOON</servlet-name>
        <url-pattern>/moon/revoke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MOON</servlet-name>
        <url-pattern>/moon/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MOON</servlet-name>
        <url-pattern>/moon/*</url-pattern>
    </servlet-mapping>

    <!-- Shiro Filter -->
    <context-param>
      <param-name>shiroEnvironmentClass</param-name>
      <param-value>org.opendaylight.aaa.shiro.web.env.KarafIniWebEnvironment</param-value>
    </context-param>

    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.opendaylight.aaa.shiro.filters.AAAShiroFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/moon/*</url-pattern>
    </filter-mapping>

    <!--
    OAuth2TokenServlet is responsible for serving OAuth2 tokens to clients.
    -->
    <servlet>
        <servlet-name>OAuth2TokenServlet</servlet-name>
        <servlet-class>org.opendaylight.aaa.impl.shiro.oauth2.OAuth2TokenServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OAuth2TokenServlet</servlet-name>
        <url-pattern>/oauth2/token</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAuth2TokenServlet</servlet-name>
        <url-pattern>/oauth2/revoke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAuth2TokenServlet</servlet-name>
        <url-pattern>/oauth2/validate</url-pattern>
    </servlet-mapping>
</web-app>